*{
	padding: 0px;
	margin:0px;
}

body{
	font-family: Arial San-serif;
}
a{
	text-decoration: none;
}

.container{
	margin-top: 10px;
	width: 85%;
	margin:auto
}

header{
	width: 100%;
	float: left;
	padding: 10px 0px;
	background: #000000;
}

#logo {
	width: 50%;
	float: left;
	text-align: left;
	font-size: 24px;
	color:#ffffff;
	font-weight: normal;
}
#logo a{
	text-transform: uppercase;
	color:#ffffff;
}
nav{
	width: 50%;
	float: left;
	text-align: right;
	padding-top: 15px;
}
nav a{
	color:#CDC5BF;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}
nav a:hover{
	color:#ffffff;
}


#content{
	width: 100%;
	float: left;
	padding: 50px 0px;
}

#user-limit{
	border-top: 1px solid grey;
	border-bottom: 	 1px solid grey;
	background: #bcd2ee;
	width: 100%;
	padding: 10px 0px;
	font-size: 20px;
	text-transform: capitalize;
}
#num{
	margin-top: 20px;s
}
#userList{
	width: 100%;
	float: left;
	margin-top: 40px;
}
#userList li{
	margin-top: 10px;
	width: 100%;
	float: left;
	padding: 10px 0px;	
	list-style: none;
}
.avatar{
	border: 1px solid grey;
	padding: 10px 0px;
	width: 80px;
	float: left;
}
.avatar img{
	width:100%;
	height: auto; 
}
.username{
	padding:10px 50px;
	width: 400px;
	float: left;
}
.name{
	text-align: center;
	font-size: 26px;
	text-transform: capitalize;
	color:#1abc9c;
}
.name:hover{
	text-decoration: underline;
}
.email{
	margin-top: 5px;
	font-size: 15px;
	color:grey;
}

.role{
	width: 200px;
	float: left;
	padding: 20px 0px;
	text-align: right;
}
.role-button{
	border-radius: 4px;
	color: #34495e;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.5px;
	background-color: #1abc9c;
	padding: 10px 20px;
	border:0px;
}

.optional{
	padding: 20px 0px 20px 50px; 
	width: 300px;
	float: left;
	text-align: right;
}
.optional a{
	color:#ffffff;
	float: left;
	margin-left: 10px;
	display: block;
	border:0px;
	border-radius: 5px;	
	padding: 10px 20px;
	text-transform: capitalize;
}
#del{
	background-color: #e74c3c;
}
#del:hover{
	background: #95a5a6;
}
#update{
	background-color: #2980b9;
}
#update:hover{
	background: #95a5a6;
}

#paginator{
	width: 100%;
	margin-top: 20px;
	text-align: center;	
}
#paginator ul{

	width: 100%;
}
#paginator ul li{
	list-style:none;
	display: inline-block;
	padding: 8px 8px;
}
#paginator a{
	color: black;
}
#paginator a:hover{
	color:blue;
}

.user-detail{
	width: 100%;
	float: left;
	margin-top: 50px;
}
#user-info{
	width: 100%;
	float: left;
	text-align: left;
}
#user-info p{
	font-size: 20px;
	text-transform: capitalize;
}
#user-info img{
	width: 180px;
	height: auto;
	margin-top: 10px;
}
.user-detail table{
	width: 100%;
	float: left;
	margin-top: 50px;	
}
.user-detail table tr{
	padding: 20px 0px;
}
.user-detail table tr td{
	text-transform: capitalize;
	font-size: 20px ;
	padding: 10px 20px;
}
.update{
	width: 100%;
	float: left;
	margin-top: 20px;
}
.update form{
	width: 100%;
	float: left;
	padding-top: 50px;
}
.update form img{
	float: left;
	width: 100px;
	height: auto;	
}
.update form input{
	border:1px solid #dedede;
	border-radius: 5px;
	padding:10px 10px;
	margin-top: 20px;
	width: 95%;
	float: left;
	text-transform: uppercase;
}
.update form textarea {
	 width: 100%;
	 margin-top:20px;
	 float: left;
}
.update form  button{
	margin-top: 20px;
	padding: 15px 20px;
}
.login{
	width: 100%;
	float: left;
	padding:50px 0px;
}
.login h2{
	text-align: center;
}
.login form{
	text-align: center;
	margin-top: 40px;
	width: 600px;
	margin: auto;
	margin-top: 50px;
}
.login form input{
	width: 400px;
	margin:auto;
	padding: 10px 15px;
	margin-top: 20px;
	border:1px solid #DEDEDE;
	border-radius: 5px;
	text-transform: uppercase;
}
.login form button{
	padding: 15px 100px;
	margin: auto;
	margin-top: 20px;

}
footer{
	width: 100%;
	float: left;
}